<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon_io/favicon_io.png') }}"
    />
    <title>Contact US</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
    recusandae id tenetur quidem ratione, optio voluptates soluta et
    reprehenderit asperiores. Rerum voluptatem aliquam maiores impedit saepe
    doloribus? Et, minima! Velit quo officiis nobis tempore aliquam esse
    laudantium obcaecati doloribus? Ex nesciunt sunt porro cum nulla accusantium
    a quod rerum. Dolores, repellat. Sed iure quibusdam illum laboriosam labore
    at excepturi doloribus similique quis consectetur, incidunt perferendis
    neque! Voluptatibus dolorum at officia amet repellat tenetur natus libero
    similique vitae fugit nemo error sapiente, odit eligendi perspiciatis illo
    ipsam repudiandae doloribus facilis reiciendis! Consequuntur modi velit
    libero architecto quisquam cupiditate a repellendus explicabo!
  </body>
</html>
