<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon_io/favicon_io.png') }}"
    />
    <title>Contact US</title>
  </head>
  <body>
    <div class="content-wrapper">
      <h1 style="color: rgba(255, 0, 0, 0.566)">Error</h1>
      Something is wrong with the server but you don't worry you can connect me
      on
      <a
        href="https://www.fiverr.com/sikandaryar/do-full-stack-web-development-from-scratch-using-react-js-and-node-js"
        title=""
        >Fiverr</a
      >,
      <a href="https://www.linkedin.com/in/beingsikandar">Linkdend</a>
      or
      <a href="https://www.facebook.com/beingsika?mibextid=ZbWKwL">Facebook</a>
    </div>
  </body>
</html>
